<div class="text-center logo-area"><a href="{{ url('<front>' }}"><img src="{{ asset(image_logo) }}"></a></div>

<div role="navigation">
    <ul class="nav nav-pills nav-justified">
        {% if ( option is defined and option == 'login' ) %}
            <li class="nav-item" role="presentation" class="active"><a class="nav-link active text-center" href="#security" aria-controls="security" role="tab" data-toggle="pill">
        {% else %}
            <li class="nav-item"><a class="nav-link text-center" href="{{ path( 'fos_user_security_login' ) }}">
        {% endif %}
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
        </a></li>

        {% if ( option is defined and option == 'register' ) %}
            <li class="nav-item" role="presentation" class="active"><a class="nav-link active text-center" href="#register" aria-controls="register" role="tab" data-toggle="pill">
        {% else %}
            <li class="nav-item"><a class="nav-link text-center" href="{{ path( 'fos_user_registration_register' ) }}">
        {% endif %}
            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
        </a></li>
    </ul>
</nav>

<br />
<div class="{{ alert is defined ? 'alert alert-' + alert : 'card' }}">
    {% if ( header is defined ) %}
        <div class="card-header">{{ header }}</div>
    {% endif %}
    <div class="{{ alert is defined ? '' : 'card-block' }}">
        {% block security_form %}{% endblock %}
    </div>
</div>

{% if social is defined and social == true %}
    <ul class="list-unstyled list-social">
        <li>
            <a href="#" class="btn btn-lg btn-primary btn-block">
                <i class="fa fa-google-plus"></i> <span>{{ 'login.social.google'|trans({}, 'security') }}</span>
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-lg btn-secondary btn-block">
                <i class="fa fa-facebook"></i> <span>{{ 'login.social.facebook'|trans({}, 'security') }}</span>
            </a>
        </li>
    </ul>    
{% endif %}