{% if error is defined %}
    {% if error %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endif %}

<form class="form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token is defined %}
        {% if csrf_token %} 
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    {% endif %}
    
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" name="_username" id="username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ (last_username is defined) ? last_username : '' }}" required="required" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" type="password" name="_password" id="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required" />
        </div>
    </div>

    <div class="form-check">
        <label class=form-check-input">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>
    </div>
    <input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />                                        
    <a class="btn btn-secondary btn-block" href="{{ path("fos_user_resetting_request") }}">{{ 'login.forgot'|trans({}, 'security') }}</a>
</form>